extends layout

block content
  .container
    img(src="/images/fireEmoji.png" height="120" width="120")
    h1 Firebot
    p.description Firebot is a Slack App for keeping track of activity in your team's public channels. Really useful for busy, discussion-oriented Slack groups where you might find it hard to keep up with which channels to pay attention to.
    a(href= redirectUri)
      img(alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x")
    .section
      h2 How it works:
      .subsection
        ol
          <li>Click the <strong>Add to Slack</strong> button above, which will redirect you to a page where you can authorize the app. As soon as you click <strong>Authorize</strong>, the app will automatically be added to your team.</li>
          <li>Invite the <strong>@firebot</strong> bot to any channel in which you'd like to receive announcements. I recommend having a dedicated channel for Firebot, especially if you're in a busy group. <img src="/images/firebot_invite.png" /></li>
          li Firebot checks your team every 10 minutes for public (and only public) channels that have had at least 10 messages made by at least two people in the last 15 minutes. Firebot will only post about a channel if it hasn't done so in the last half hour. So if it tells you that #general is lit at 10 AM, it won't tell you about it again until 10:30, even if #general has been busy the whole time.
            <img src="/images/firebot_announce.png" />
          <li>The <strong>@firebot</strong> bot won't post any more than six times in an hour, but if you'd like it to stop, you can just remove the bot from any channel it's a member of. As long as the app is still installed, you can re-invite the bot at any time.
          li You can also ask Firebot directly about active channels, dead channels, and lit channels at any time:
            <p><strong>Which channels are lit?</strong> returns a list of all channels that have been lit in the last 15 minutes. So even if it's 10:10 and <strong>@firebot</strong> isn't bugging you about your #general channel that's been busy all morning, it'll still be on this list.</p>
            <img src="/images/firebot_lit.png" />
            <p><strong>Which channels are active?</strong> returns a list of all channels that have been busy in the last 24 hours. "Busy," for the purposes of this query, is a little bit different from "lit" since it covers the whole day. All the channels in this list will have had at least 20 messages made by at least two people in the last 24 hours.</p>
            <img src="/images/firebot_active.png" />
            <p><strong>Which channels are dead?</strong> returns a list of channels that haven't been posted in for at least a week.</p>
            <img src="/images/firebot_dead.png" />
            <p><strong>Is #channel_name lit right now?</strong> will tell you whether the channel has been busy enough for Firebot to announce.</p>
            <img src="/images/firebot_question.png" />
            <p><strong>@firebot help</strong> will start a conversation that will point you towards support if necessary.</p>
            <img src="/images/firebot_help.png" />
    .section
      h2 FAQ
      .subsection
        h4
          em How private is my data?
        <p>In order to track activity, Firebot will be authorized to access some of your team's information, including channel names, user names, and some of your message history. It doesn't store your messages anywhere, or make your information available. If you don't feel comfortable adding the bot, but still want to use it, take a look at the <a href="https://github.com/haleymt/Firebot_CI" target="_blank">Firebot CI</a> repository, which will help you add Firebot to your team as a custom integration instead.</p>
        h4
          em Is this open source?
        <p>Yes. Issues and pull requests welcomed <a href="http://github.com/haleymt/Firebot" target="_blank">here</a>.</p>
        h4
          em I have a question or I want to report that something's broken
        <p>Cool. Email <a href="mailto:firebot.help@gmail.com">firebot.help@gmail.com</a> with any questions or concerns.</p>
  p.credit
    | &copy; Haley Thurston
