extends layout

block content
  .container
    img(src="/images/fireEmoji.png" height="120" width="120")
    h1.success Success!
    p Firebot was successfully added to your team.
    <a href="/"><button>Back to Home</button></a>
