body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  min-width: 100vh;
  background: rgba(255, 153, 0, 0.75);
  padding: 50px;
}

a {
  color: #00B7FF;
}

a:hover {
  cursor: pointer;
}

.container {
  width: 80%;
  max-width: 700px;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(255,255,255,1);
}

.section {
  text-align: left;
  padding-top: 20px;
}

/*.container p {
  text-align: left;
}*/

h1.success {
  color: rgb(47, 163, 85);
}

h1.error {
  color: rgb(242, 83, 72);
}

pre.error {
  display: block;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(242, 191, 72, 0.2);
  border: 1px solid rgba(242, 83, 72, 0.5);
  text-align: left;
}

p.description {
  width: 400px;
  margin: 20px auto;
}

li {
  margin-top: 10px;
}
