body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  min-width: 100vh;
  background: rgba(255, 153, 0, 0.5);
}

a {
  color: #00B7FF;
}

a:hover {
  cursor: pointer;
}

.container {
  width: 500px;
  padding: 40px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.9);
}

.container p {
  text-align: left;
}
