body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  background: rgba(255, 153, 0, 0.75);
  margin: 0px;
}

a {
  color: #00B7FF;
}

a:hover {
  cursor: pointer;
}

.container {
  width: 80vw;
  max-width: 700px;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  /*border: 1px solid rgba(0,0,0,0.2);*/
  background: rgb(255,255,255);
  margin: 50px auto;
}

.section {
  text-align: left;
  padding-top: 20px;
}

.subsection {
  padding: 0px 20px;
}

.subsection p {
  margin-bottom: 0px;
}

ol {
  padding-left: 20px;
}

/*.container p {
  text-align: left;
}*/

h1.success {
  color: rgb(47, 163, 85);
}

h1.error {
  color: rgb(242, 83, 72);
}

pre.error {
  display: block;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(242, 191, 72, 0.2);
  border: 1px solid rgba(242, 83, 72, 0.5);
  text-align: left;
  word-wrap: break-word;
}

p.description {
  width: 400px;
  margin: 20px auto;
}

p.credit {
  color: rgba(255,255,255,0.85);
  text-align: center;
  margin-bottom: 50px;
}

li {
  margin-top: 15px;
}

.subsection img {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  margin: 10px auto;
  margin-bottom: 0px;
}

button {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  background: white;
  padding: 12.5px;
  font-size: 14px;
  margin-top: 15px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

button:hover {
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.5);
}

button:focus {
  outline: none;
}

button:active {
  background: rgba(0,0,0,0.1);
}
